@import url(./__photo/about-author__photo.css);
@import url(./__text/about-author__text.css);
@import url(./__title/about-author__title.css);
@import url(./__main-text/about-author__main-text.css);

.about-author {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  margin-bottom: 80px;
  overflow-x: hidden;
  padding-left: 104px;
}

@media screen and (max-width: 1023px) {
  .about-author {
    padding-left: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .about-author {
    padding-left: 0;
    margin-bottom: 60px;
    flex-direction: column;
  }
}