.search-results__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 16px;
}

@media screen and (max-width: 1023px) {
    .search-results__cards {
        grid-column-gap: 8px;
  }
}

@media screen and (max-width: 767px) {
    .search-results__cards {
        grid-template-columns: 1fr;
  }
}