.headline.headline_mobile {
    display: flex;
    width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}