.slider__title {
    font-size: 40px;
    line-height: 46px;
}

@media screen and (max-width: 1023px) {
  .slider__title {
    font-size: 30px;
    line-height: 34px;
    width: 336px;
  }
}

@media screen and (max-width: 767px) {
  .slider__title {
    font-size: 28px;
    line-height: 34px;
    width: 200px;
  }
}
