@import url(./_mobile/headline__menu_mobile.css);

.headline__menu {
   display: flex;
   margin-right: 104px;
   align-items: baseline;
}

@media screen and (max-width: 1023px) {
   .headline__menu {
     font-size: 20px;
     line-height: 24px;
     margin-right: 40px;
   }
 }