.search-results__title {
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-bottom: 64px;
}

@media screen and (max-width: 1023px) {
  .search-results__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .search-results__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    width: 200px;
  }
}