@import url(./__button/authpopup__button.css);
@import url(./__error-message/authpopup__error-message.css);
@import url(./__input/authpopup__input.css);
@import url(./__link/authpopup__link.css);
@import url(./__title/authpopup__title.css);
@import url(./__close/authpopup__close.css);
@import url(./__subtitle/authpopup__subtitle.css);
@import url(./__other-action/authpopup__other-action.css);
@import url(./__form/authpopup__form.css);
@import url(./_hide/authpopup_hide.css);

.authpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: flex;
}
