.authpopup__form {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Roboto, sans-serif;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 36px 28px 36px;
    width: 430px;
    box-sizing: border-box;
    border-radius: 16px;
    z-index: 200;
  }
  
  @media screen and (max-width: 767px) {
    .authpopup__form {
      transform: translate(0, 0);
      position: absolute;
      top: 56px;
      left: 0;
      padding: 16px;
      width: 100%;
      height: calc(100vh - 56px);
      box-sizing: border-box;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 200;
    }
  
    .authpopup__form + .shadow_off {
      opacity: 0;
      transition: 0.3s;
    }
  }
  