.technology__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    margin-top: 93px;
}


@media screen and (max-width: 1023px) {
  .technology__images {
    margin-top: 40px;
  }

}

@media screen and (max-width: 767px) {
  .technology__images {
    margin-top: 32px;
    grid-template-columns: 1fr 1fr;
  }

}