@import url(./__subtitle/info__subtitle.css);
@import url(./__title/info__title.css);
@import url(./__keywords/info__keywords.css);
@import url(./__text/info__text.css);

.info {
  min-height: 294px;
  padding-left: 104px;
}

.info.info_clients {
  min-height: 294px;
  padding-left: 104px;
  margin-bottom: 72px;
}

@media screen and (max-width: 1023px) {
  .info {
    padding-left: 40px;
    min-height: 240px;
  }

  .info.info_clients {
    min-height: 294px;
    padding-left: 40px;
    padding-top: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    padding-left: 16px;
    min-height: 230px;
  }

  .info.info_clients {
    min-height: 294px;
    padding-left: 16px;
    padding-top: 0;
    margin-bottom: 32px;
  }
}