@import url(./__icon/card__icon.css);
@import url(./__message/card__message.css);
@import url(./__keyword/card__keyword.css);
@import url(./__picture/card__picture.css);
@import url(./__content/card__content.css);
@import url(./__date/card__date.css);
@import url(./__sourse/card__sourse.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);

.card {
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 400px;
    height: 576px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .card {
        width: 224px;
        height: 420px;
    }
  }