.card__date {
    margin-top: 20px;
    margin-bottom: 12px;
    color: #B6BCBF;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1023px) {
    .card__date {
        margin-top: 16px;
    }
  }