.slider__info {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .slider__info {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}