.search__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  width: 545px;
  margin-left: -60px;
  height: 48px;
  margin-top: 32px;
}

@media screen and (max-width: 1023px) {
  .search__subtitle {
    margin-left: 20px;
    margin-top: 38px;
    width: 452px;
    margin-top: 16px;
  }
}