.headline__goto.headline__goto_mobile {
    display: block;
    border: none;
    height: 40px;
    background: #1A1B22;
    font-size: 18px;
    line-height: 56px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 16px;
}
