.footer__networks {
  list-style-type: none;
  display: flex;
  margin-right: 106px;
}

@media screen and (max-width: 1023px) {
  .footer__networks {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__networks {
    margin-right: 0;
    margin-top: 16px;
  }
}