@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/search/search.css);
@import url(./blocks/headline/headline.css);
@import url(./blocks/load/load.css);
@import url(./blocks/not-found/not-found.css);
@import url(./blocks/search-results/search-results.css);
@import url(./blocks/card/card.css);
@import url(./blocks/about-author/about-author.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/preloader/preloader.css);
@import url(./blocks/button/button.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup-for-profile/popup-for-profile.css);

body {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
