@import url(./__title/technology__title.css);
@import url(./__images/technology__images.css);

.technology {
  height: 334px;
  background: #F5F6F7;
  display: flex;
  padding-left: 104px;
}

@media screen and (max-width: 1023px) {
  .technology {
    height: 340px;
    flex-direction: column;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .technology {
    padding-left: 16px;
    height: 450px;
  }
}