.headline__title {
  font-weight: bold;
  margin-left: 104px;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .headline__title {
    font-size: 20px;
    line-height: 24px;
    margin-left: 40px;
  }
}