.info__text {
    width: 815px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .info__text {
    width: 688px;

  }
}

@media screen and (max-width: 767px) {
  .info__text {
    width: 288px;

  }
}