.headline__goto_black.headline__goto_current-black {
    color: black;
    height: 81px;
    padding-top: 28px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .headline__goto_black.headline__goto_current-black {
      height: 67px;
      padding-top: 22px;
    }
  }